.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cardContent p{
    font-family: 'Lato';
    font-size: 24px;
}

.desc {
    font-size: 14px;
}

.price {
    font-weight: bold;
    color: green;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #202020;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    transition: 0.2s;
}

button:hover {
    background-color: #404040;
}

#favIcon {
    color: black;
    margin-top: 5px;
    transition: 0.1s;
}

#favIcon:hover {
    color: red;
    cursor: pointer;
}