<div class="container">
    <div class="card">
        <form class="mx-auto">
            <div class="email mx-auto">
                <h4>Email</h4>
                <input type="email" placeholder="Email" class="form-control">
            </div>
            <div class="pass mx-auto">
                <h4>Contraseña</h4>
                <input type="password" placeholder="Contraseña" class="form-control">
            </div>
            <div class="repeatPass mx-auto">
                <h4>Repetir Contraseña</h4>
                <input type="password" placeholder="Repetir Contraseña" class="form-control">
            </div>
            <div class="terms d-flex mx-auto">
                <input type="checkbox">
                <h6>He leído y estoy de acuerdo con los <a href="#">términos y condiciones</a></h6>
            </div>
            <div class="register mx-auto">
                <button type="submit">Registrarme</button>
            </div>
        </form>
    </div>
</div>