<div class="container">
    <div class="card">
        <h2 style="font-family: 'Lato'" class="text-center">Registro</h2>
        <form class="mx-auto" [formGroup]="formRegister" (submit)="send()" novalidate>
            <div class="email mx-auto">
                <h4>Email</h4>
                <input type="email" placeholder="Email" #email 
                class="form-control"
                formControlName="email">
                <p *ngIf="formRegister.get('email').invalid && formRegister.get('email').touched"
                id="emailAlert">
                    El email no es válido
                </p>
            </div>
            <div class="pass mx-auto">
                <h4>Contraseña</h4>
                <input type="password" placeholder="Contraseña" class="form-control"
                formControlName="password"
                [type]="hide ? 'password' : 'text'">
                <i class="fas fa-eye" id="eyeIcon" (click)="passwordVisible()"></i>
                <p *ngIf="formRegister.get('password').invalid && formRegister.get('password').touched"
                id="passwordAlert">
                    La contraseña no es válida (debe tener al menos seis caractéres)
                </p>
            </div>
            <div class="terms d-flex mx-auto">
                <input type="checkbox" formControlName="check">
                <h6>He leído y estoy de acuerdo con los <a routerLink="/terms-and-conditions">
                    términos y condiciones
                </a></h6>
            </div>
            <div class="register mx-auto">
                <button type="submit" [disabled]="formRegister.invalid">Registrarme</button>
            </div>
        </form>
    </div>
</div>