<footer>
    <div class="container-fluid">
        <div class="row mx-auto">
            <div class="col-md-3">
                <h3 class="text-center">Sobre Nosotros</h3>
                <div class="SobreNosotrosInfo d-inline">
                    <a routerLink="/terms-and-conditions" class="mt-3">Téminos y condiciones</a>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                        Privacidad
                    </a>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                        Trabajá con nosotros
                    </a>
                    <a href="https://google.com/" target="_blank">Ayuda</a>
                </div>
            </div>
            <div class="col-md-3">
                <h3 class="text-center">Redes Sociales</h3>
                <div class="RedesSocialesCont">
                    <a href="https://www.facebook.com" target="_blank">
                        <i class="fab fa-facebook-square fa-3x" id="facebook"></i>
                    </a>
                    <a href="https://www.twitter.com" target="_blank">
                        <i class="fab fa-twitter fa-3x" id="twitter"></i>
                    </a>
                    <a href="https://www.instagram.com" target="_blank">
                        <i class="fab fa-instagram fa-3x" id="instagram"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 mx-auto">
                <div>
                    <h2 class="text-center">¡Comunícate con nosotros!</h2>
                    <div>
                        <form [formGroup]="form">
                            <div class="nombre">
                                <label class="labelContact">Nombre *</label>
                                <br>
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                            <div class="email">
                                <label class="labelContact">Email *</label>
                                <br>
                                <input type="email" class="form-control" formControlName="email">
                            </div>
                            <div class="mensaje">
                                <label class="labelContact">Mensaje *</label>
                                <br>
                                <textarea formControlName="message"></textarea>
                            </div>
                            <div>
                                <button type="submit" (click)="submit()" [disabled]="this.form.invalid">
                                    Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="info">Copyrigth @ 2021 Tienda Irlandesa. Montevideo, Uruguay</p>
        </div>
        <div class="row">
            <p class="info">
                Página creada por 
                <a href="https://github.com/brianmontero" 
                class="github"
                target="_blank">
                Brian Montero
                </a>
            </p>
        </div>
    </div>
</footer>