<div class="container">
    <div class="card mx-auto">
        <form>
            <div class="email mx-auto">
                <h4>Email</h4>
                <input type="email" placeholder="Email" #user class="form-control">
                <i class="fas fa-user"></i>
            </div>
            <div class="pass mx-auto">
                <h4>Contraseña</h4>
                <input type="password" placeholder="Contraseña" #pass class="form-control">
                <i class="fas fa-key"></i>
            </div>
            <div class="submit mx-auto">
                <button type="submit">Ingresar</button>
            </div>
        </form>
        <div class="info mx-auto">
            <a href="#">Olvidé mi contraseña</a>
            <br>
            <a routerLink="/register">Registrarme</a>
        </div>
    </div>
</div>