<div id="tarjeta">
    <div class="thumbnail mx-auto">
        <img [src]="productItem.imageLink" alt="...">
    </div>
    <div class="card-body">       
        <p class="title">{{productItem.title}}</p>
        <div class="d-flex justify-content-between">
            <p class="brand">{{productItem.brand}}</p>
            <i class="fas fa-heart" id="favIcon" (click)="addToFavorites($event, productItem)"></i>
        </div>
        <p class="price">{{productItem.price | currency}}</p>
        <div class="add" (click)="stop($event)">
            <button id="addBtn" (click)="addProductToCart(productItem)">
                <i class="fas fa-cart-plus fa-lg" id="cartIcon"></i>
            </button>
        </div>
    </div>
</div>
