<div class="container">
    <div class="header">
        <p>2/3</p>
        <button class="btnAtras" (click)="goBack()">Atrás</button>
    </div>
    <h1 class="title text-center">Detalles de facturación</h1>
    <form class="mx-auto" [formGroup]="formBilling" (submit)="send()">
        <div class="identity">
            <div class="name">
                <p>Nombre <a style="color: red;">*</a></p>
                <input type="text" class="form-control" formControlName="name">
                <small *ngIf="formBilling.get('name').invalid && formBilling.get('name').touched">
                    Este campo es obligatorio o es inválido
                </small>
            </div>
            <div class="last-name">
                <p>Apellido <a style="color: red;">*</a></p>
                <input type="text" class="form-control" formControlName="surname">
                <small *ngIf="formBilling.get('surname').invalid && formBilling.get('surname').touched">
                    Este campo es obligatorio o es inválido
                </small>
            </div>
        </div>
        <div class="address">
            <p>Dirección <a style="color: red;">*</a></p>
            <input type="text" class="form-control" formControlName="address">
            <small *ngIf="formBilling.get('address').invalid && formBilling.get('address').touched">
                Este campo es obligatorio o es inválido
            </small>
        </div>
        <div class="city">
            <p>Ciudad <a style="color: red;">*</a></p>
            <input type="text" class="form-control" formControlName="city">
            <small *ngIf="formBilling.get('city').invalid && formBilling.get('city').touched">
                Este campo es obligatorio o es inválido
            </small>
        </div>
        <div class="postal">
            <p>Código Postal <a style="color: red;">*</a></p>
            <input type="number" class="form-control" formControlName="postal"
            oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="5">
            <div class="d-flex justify-content-between">
                <small *ngIf="formBilling.get('postal').invalid && formBilling.get('postal').touched">
                    Este campo es obligatorio o es inválido
                </small>
                <small style="color: black;">
                    Código postal debe tener cinco dígitos
                </small>
            </div>
        </div>
        <div class="phone">
            <p>Teléfono <a style="color: red;">*</a></p>
            <input type="number" class="form-control" formControlName="phone">
            <small *ngIf="formBilling.get('phone').invalid && formBilling.get('phone').touched">
                Este campo es obligatorio o es inválido
            </small>
        </div>
        <div class="button mx-auto">
            <button type="submit" [disabled]="formBilling.invalid">Continuar</button>
        </div>
    </form>
</div>
