<div class="container">
    <h1 class="title text-center">Detalles de facturación</h1>
    <form class="mx-auto">
        <div class="identity">
            <div class="name">
                <p>Nombre *</p>
                <input type="text" class="form-control">
            </div>
            <div class="last-name">
                <p>Apellido *</p>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="address">
            <p>Dirección *</p>
            <input type="text" class="form-control">
        </div>
        <div class="city">
            <p>Ciudad *</p>
            <input type="text" class="form-control">
        </div>
        <div class="postal">
            <p>Código Postal *</p>
            <input type="number" class="form-control">
        </div>
        <div class="phone">
            <p>Teléfono *</p>
            <input type="number" class="form-control">
        </div>
        <div class="email">
            <p>Email *</p>
            <input type="email" class="form-control">
        </div>
        <div class="check">
            <input type="checkbox"> &nbsp;
            <a style="position: relative; top: -1px;">Acepto los términos y condiciones</a>
        </div>
        <div class="button mx-auto">
            <button type="submit">Continuar</button>
        </div>
    </form>
</div>