.container {
    margin-top: 2rem;
}

form {
    max-width: 35rem;
    display: flex;
    flex-direction: column;
}

form div p {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: bold;
}

form div input {
    font-family: 'Lato';
    border: 1px solid black;
    border-radius: 2px;
}

form div input:focus {
    box-shadow: none;
}

.identity {
    display: flex;
}

.name {
    width: 20rem;
}

.last-name {
    margin-left: 5rem;
    width: 20rem;
}

.address {
    margin-top: 1rem;
}

.city {
    margin-top: 1rem;    
}

.postal  {
    margin-top: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.phone {
    margin: 1rem 0 2rem 0;

}

.email {
    margin: 1rem 0 2rem 0;
}

.title {
    font-family: 'Lato';
    margin-bottom: 2rem;
}

.check {
    margin-bottom: 1rem;
}

.button button {
    width: 200px;
    border: none;
    height: 45px;
    border-radius: 5px;
    background-color: #006600;
    color: #FFF;
    font-family: 'Lato';
    font-weight: bold;
    margin-bottom: 3rem;
    transition: 0.2s;
}

.button button:hover {
    background-color: green;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header p {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: bold;
}

.btnAtras {
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    font-family: 'Lato';
    font-size: 20px;
    color: black;
    width: 100px;
    transition: 0.2s;
}

.name small {
    color: red;
}

.last-name small {
    color: red;
}

.address small {
    color: red;
}

.city small {
    color: red;
}

.phone small {
    color: red;
}

.postal small {
    color: red;
}

.email small {
    color: red;
}

.button button:disabled,
.button button[disabled] {
    background-color: #CCC;
}