<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="d-flex justify-content-between" style="font-family: 'Lato';">
                <h2>Carrito</h2>
                <h3>{{list.length}} Items</h3>
            </div>
            <hr class="hrBar">
            <div class="d-flex row text-center align-items-center" style="width: 100%;">
                <div class="d-flex col">
                    <p style="margin: 0 70px 0 280px; 
                              color: grey; 
                              font-family: 'Lato';
                              display: flex;
                              align-items: center;">
                        Título
                    </p>
                    <p style="margin: 0 30px 0 30px;
                              color: grey; 
                              font-family: 'Lato';
                              display: flex;
                              align-items: center;">Cantidad</p>
                    <p style="margin: 0 20px 0 0; color: grey; font-family: 'Lato';">
                        Precio <br> unitario
                    </p>
                    <p style="margin: 0 0 0 10px; color: grey; font-family: 'Lato';">
                        Precio <br> total
                    </p>
                </div>
            </div>
            <div class="scroll">
                <div class="card mb-3" id="firstCard" *ngFor="let item of list">
                    <app-cart-items [item]="item"></app-cart-items>
                </div>
                    <div *ngIf="list.length === 0">
                <div>
                    <i class="fas fa-exclamation fa-3x" id="exclamationIcon"></i>
                    <p id="excalamationText" class="text-center">No tienes ningún producto en el carro</p>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <app-cart-details></app-cart-details>
        </div>
    </div>
</div>